name: Deploy Upload Queue Consumer (Prod)

on:
  # push:
    # branches:
    #   - main
    # paths:
    #   - "apps/upload-queue-consumer/**"
    #   - ".github/workflows/deploy-upload-consumer-prod.yml"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy to Cloudflare Workers (Production)

    environment: prod

    defaults:
      run:
        working-directory: apps/upload-queue-consumer

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Deploy to Cloudflare Workers (Production)
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: pnpm exec wrangler deploy
